mat-card-title h2{
    overflow : hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.example-card{
    position : relative;
    padding-bottom: 60px;
}

mat-card-actions{
    position: absolute;
    bottom: 20px;
    left:0;
    right:0;
    padding : 0 16px;
}