.img-container{
    height : 300px;

    >img{
        width : 100%;
        height : 100%;
        object-fit : cover;
    }
}


.isAvailable{
    position : absolute;
    left :0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.notAvailable{
    filter: blur(2px) grayscale(1);
}