.card{
    border-radius: 10px;;
}
.movieCard{
    height:450px;
    overflow:hidden;
    border-radius: 10px;
    border : 5px solid #313030;
}

.movieCard img{
    height : 100%;
    width : 100%;
    object-fit : fill;
    border: 15px white;
}
// movie title &rating
.titleInfo{
    position: absolute;
    left : 0;
    bottom: 0;
    background-color: #22254b;
    width : 100%;
    color :white;
    padding : 15px;
    border-radius: 10px;;
}
// hidden info
.overview{
    position :absolute;
    top : 60%;
    height : 40%;
    background-color: white;
    width : 100%;
    padding:15px;
    transform : translateY(100%);
    opacity : 0;
    transition : all .4s ease-in-out;
}

.movieCard:hover .overview{
    transform: translateY(0%);
    opacity : 0.8%;
    border-radius : 10px;
}

.titleInfo h2{
    height : 40px;
    margin : 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}