<h1 class="bg-success p-3 my-4 text-center ">Card task</h1>
<div class="container">
  <div class="row">
    <div *ngFor="let c of cardArr; trackBY : trackBYid;" class="col-md-4 mb-2">
      <app-card [cards]="c"></app-card>
    </div>
  </div>
</div>

<hr>
<h1 class="bg-warning p-3 my-4 text-center">Movie Cards</h1>

<div class="container">
  <div class="row">
    <div *ngFor="let mCard of movieArr; trackby : trackbyid;" class="col-md-4">
      <app-movie [movie]="mCard"></app-movie>
    </div>
  </div>
</div>

<hr>

<h1 class="bg-dark p-3 my-4 text-center text-white">Mobile Products</h1>
<div class="container">
  <div class="row">
    <div *ngFor="let prod of mobilesArr; trackBy : trackById" class="col-md-12">
      <app-mobile [mobile]="prod"></app-mobile>
    </div>
  </div>
</div>